@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fira+Sans&family=Open+Sans&family=Oxygen&family=Righteous&family=Roboto&family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
body{
    background-color: white;
    width: 100%;
    height: 100%;
}

/* --- INICIO HEADER --- */

header#header{
    background: red;
    position: absolute;
    width: 100%;
    height: 50px;
}
#a1{
    font-family: 'Yantramanav', sans-serif;
    font-weight: 500;
    font-size: 120%;
    text-decoration: none;
    text-align: center;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 35%;
    padding:12px 20px;
}
#a3{
    font-family: 'Yantramanav', sans-serif;
    font-weight: 500;
    font-size: 120%;
    text-decoration: none;
    text-align: center;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: -20%;
    padding:12px 20px;
}
#logosin{
    font-family: 'Yantramanav', sans-serif;
    font-weight: 800;
    text-decoration: none;
    text-align: center;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0;
}
#logosin:hover{
    padding: 10px;
}
#a4{
    font-family: 'Yantramanav', sans-serif;
    font-weight: 500;
    font-size: 120%;
    text-decoration: none;
    text-align: center;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 20%;
    padding:12px 40px;
}
#a2{
    font-family: 'Yantramanav', sans-serif;
    font-weight: 500;
    font-size: 120%;
    text-decoration: none;
    text-align: center;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: -38%;
    padding:12px 30px;
}
#a1:hover, #a2:hover, #a3:hover, #a4:hover{
    background-color: rgba(255,255,255,0.3);
    transition: 0.2s;
}
/* --- FIM HEADER --- */

/* --- INICIO FOOTER --- */
#div-pe h4{
    color: black;
    margin-top: 10px;
    text-align: center;
    align-items: center;
    font-weight: 100;
    font-size: 20px;
}
#div-pe h4 a{
    color: black;
}
footer{
    font-family: 'Yantramanav', sans-serif;
    position: absolute;
    top: 1200px;
    height: 80px;
    width: 100%;
    background-color: white;
}
#img1{
    padding: 0 0;
    position: absolute;
    bottom: 20px;
    left: 80%;
    width: 40px; 
    margin-right: 10px;
    transition: 0.5s;
}
#img2{
    padding: 0 0;
    position: absolute;
    bottom: 20px;
    left: 90%;
    width: 40px; 
    margin-right: 10px;
    transition: 0.5s;
}
#img3{
    padding: 0 0;
    position: absolute;
    bottom: 20px;
    left: 85%;
    width: 40px; 
    margin-right: 10px;
    transition: 0.5s;
}
/* --- FIM FOOTER --- */

/* --- BARRA LATERAL INICIO --- */
::-webkit-scrollbar{
    background-color: white;
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: red;
}
/* --- BARRA LATERAL FIM --- */