@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fira+Sans&family=Open+Sans&family=Oxygen&family=Righteous&family=Roboto&family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
    text-decoration: unset;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    height: 1300px;
    background-color: white;
    background-size: 100%;
}
 
/*---------------------------------------------*/

/*INICIO DA LOJA*/

#loja1{
    color: white;
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    margin-left: -32vw;
    margin-top: 8vh;
    background:linear-gradient(45deg, rgb(148, 0, 0), red);
    width: 340px;
    height: 440px;
}
#sites1{
    color: black;
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0vw;
    margin-top: -32vh;
}
#tipos_sites h2{
    color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0vw;
    margin-top: -32vh;
}
#one1 h2{
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0vw;
    margin-top: -29.7vh;
    width: 180px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 80px;
    padding-left: 80px;
}
#one1 h2:hover{ 
    background-color: rgba(255,255,255,0.3);
    transition: 0.2s;
}
#specs1{
    font-size: 13px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 5.5vw;
    margin-top: 4vh;
    width: 280px;
}
#info1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0vw;
    margin-top: 11vh;
    width: 280px;
}
#uldiv{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 1.5vw;
    margin-top: 23.5vh;
    width: 280px;
}
#fundo_image1{
    position: absolute;
    width: 340px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: -90px;
}
#fundo_image1:hover{
    width: 360px;
    transition: 0.2s;
    border-radius: 10px;
    
}
/* --- SITE 2 ---*/
#loja2{
    color: white;
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    margin-left: -0vw;
    margin-top: 8vh;
    background:linear-gradient(45deg, rgb(148, 0, 0), red);
    width: 340px;
    height: 440px;
}
#sites2{
    color: black;
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0vw;
    margin-top: -32vh;
}
#one2 h2{
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0vw;
    margin-top: -29.7vh;
    width: 180px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 10px;
}
#one2 h2:hover{
    background-color: rgba(255,255,255,0.3);
    transition: 0.2s;
}

#specs2{
    font-size: 13px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 5.5vw;
    margin-top: 4vh;
    width: 280px;
}
#info2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0vw;
    margin-top: 11vh;
    width: 280px;
}
#uldiv2{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 1.5vw;
    margin-top: 23.5vh;
    width: 280px;
}
#fundo_image2{
    position: absolute;
    width: 340px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: -90px;
}
#fundo_image2:hover{
    width: 360px;
    transition: 0.2s;
    border-radius: 10px;
    
}

/* --- SITE 3 ---*/

#loja3{
    color: white;
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    margin-left: 32vw;
    margin-top: 8vh;
    background:linear-gradient(45deg, rgb(148, 0, 0), red);
    width: 340px;
    height: 440px;
}
#sites3{
    color: black;
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0vw;
    margin-top: -32vh;
}
#one3 h2{
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0vw;
    margin-top: -29.7vh;
    width: 180px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 10px;
}
#one3 h2:hover{
    background-color: rgba(255,255,255,0.3);
    transition: 0.2s;
}
#specs3{
    font-size: 13px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 5.5vw;
    margin-top: 4vh;
    width: 280px;
}
#info3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0vw;
    margin-top: 11vh;
    width: 280px;
}
#uldiv3{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 1.5vw;
    margin-top: 23.5vh;
    width: 280px;
}
#fundo_image3{
    position: absolute;
    width: 340px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: -90px;
}
#fundo_image3:hover{
    width: 360px;
    transition: 0.2s;
    border-radius: 10px;
    
}

/* --- SITE 4 --- */

#loja4{
    color: white;
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    margin-left: -32vw;
    margin-top: 90vh;
    background:linear-gradient(45deg, rgb(148, 0, 0), red);
    width: 340px;
    height: 440px;
}
#sites4{
    color: black;
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0vw;
    margin-top: -32vh;
}
#one4 h2{
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0vw;
    margin-top: -29.7vh;
    width: 180px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 80px;
    padding-left: 80px;
}
#one4 h2:hover{ 
    background-color: rgba(255,255,255,0.3);
    transition: 0.2s;
}
#specs4{
    font-size: 13px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 5.5vw;
    margin-top: 4vh;
    width: 280px;
}
#info4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0vw;
    margin-top: 11vh;
    width: 280px;
}
#uldiv4{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 1.5vw;
    margin-top: 23.5vh;
    width: 280px;
}
#fundo_image4{
    position: absolute;
    width: 340px;
    height: 160px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: -90px;
}
#fundo_image4:hover{
    width: 360px;
    height: 180px;
    transition: 0.2s;
    border-radius: 10px;
    
}
/* --- SITE 5 ---*/

#loja5{
    color: white;
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    margin-left: -0vw;
    margin-top: 90vh;
    background:linear-gradient(45deg, rgb(148, 0, 0), red);
    width: 340px;
    height: 440px;
}
#sites5{
    color: black;
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0vw;
    margin-top: -32vh;
}
#one5 h2{
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0vw;
    margin-top: -29.7vh;
    width: 180px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 10px;
}
#one5 h2:hover{
    background-color: rgba(255,255,255,0.3);
    transition: 0.2s;
}

#specs5{
    font-size: 13px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 5.5vw;
    margin-top: 4vh;
    width: 280px;
}
#info5{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0vw;
    margin-top: 11vh;
    width: 280px;
}
#uldiv5{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 1.5vw;
    margin-top: 23.5vh;
    width: 280px;
}
#fundo_image5{
    position: absolute;
    width: 340px;
    height: 160px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: -90px;
}
#fundo_image5:hover{
    width: 360px;
    height: 180px;
    transition: 0.2s;
    border-radius: 10px;
    
}

/* --- SITE 6 ---*/

#loja6{
    color: white;
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    margin-left: 32vw;
    margin-top: 90vh;
    background:linear-gradient(45deg, rgb(148, 0, 0), red);
    width: 340px;
    height: 440px;
}
#sites6{
    color: black;
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0vw;
    margin-top: -32vh;
}
#one6 h2{
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0vw;
    margin-top: -29.7vh;
    width: 180px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 10px;
}
#one6 h2:hover{
    background-color: rgba(255,255,255,0.3);
    transition: 0.2s;
}
#specs6{
    font-size: 13px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 5.5vw;
    margin-top: 4vh;
    width: 280px;
}
#info6{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0vw;
    margin-top: 11vh;
    width: 280px;
}
#uldiv6{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 1.5vw;
    margin-top: 23.5vh;
    width: 280px;
}
#fundo_image6{
    position: absolute;
    width: 340px;
    height: 160px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: -90px;
}
#fundo_image6:hover{
    width: 360px;
    height: 180px;
    transition: 0.2s;
    border-radius: 10px;
    
}

/* INICIO barra top */


a img[src="_imagem/icon.png"]{
    width: 60px;
    /*DAQUI PRA BAIXO É TUDO*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 50vw;
    margin-top: 5.5vh;
}
header#header{
    
    position:absolute;
    clear: left;
    text-align: center;
    
}
#contatos{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    background-color: red;
    background-position: left 200px;
    border: 10px solid red;
    width: 20000px;
    height: 130px;
}
#a1{
    color: white;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 50vw;
    margin-top: 5.35vh;
    font-size: 23px;
}
#a2{
    color: white;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 27vw;
    margin-top: 5.5vh;
    font-size: 23px;
}
#a3{
    color: white;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left:11vw;
    margin-top: 5.5vh;
    font-size: 23px;
}
#a4{
    color: white;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 87vw;
    margin-top: 5.5vh;
    font-size: 23px;
}
#a5{
    color: white;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left:72vw;
    margin-top: 5.5vh;
    font-size: 23px;
}
#a2:hover, #a3:hover, #a4:hover, #a5:hover{
    padding-top: 25px;
    padding-bottom: 24px;
    padding-right: 40px;
    padding-left: 40px;
    background-color: rgba(255,255,255,0.3);
    transition: 0.1s;
}
/* FIM Barra Top do site */

#interface{
    width: 100%;
    height: 100%;
}
#fazeoq div > h2 > h1 > h3{
    color: blue;
    position:static;
    width: 100%;
    height: 100%;
}

/* --- EFEITO PARALAX --- */

